# Git
.git
.gitignore

# Docker
.docker

# Python
recommender/__pycache__/
recommender/*/__pycache__/
recommender/*/*/__pycache__/
recommender/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/